.about {
    min-height: 75vh;
    padding: 200px 100px 200px;
    position: relative;
    z-index: 1;
    @media only screen and (max-width: 1200px) {
        padding: 130px 50px 200px;
    }
    &:before {
        width: 100vw;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(-45deg, #000000, #202936);
        content: '';
        position: absolute;
        z-index: -2;
        @media only screen and (max-width: 1000px) {
            height: 100%;
            background: linear-gradient(#04090e, #18273a);
        }
      }
    @media only screen and (max-width: 1000px) {
        padding: 100px 20px 200px;
        overflow: hidden;
    }

    @media only screen and (max-width: 600px) {
        padding: 100px 10px 200px;
        overflow: hidden;
    }
    .header {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(180deg);
        width: 100vw;
        text-align: center;
        svg {
          transition: 0.7s;
        }
      }
      .logo {
        width: 0px;
        fill: white;
        padding-right: 15px;
        display: inline-block;
        vertical-align: middle;
      }
      
      .inner-header {
        height: 45vh;
        width: 100%;
        margin: 100;
        padding: 100;
      }
      
      .flex {
        /*Flexbox for containers*/
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      
      .waves {
        position: relative;
        width: 100%;
        height: 25vh;
        margin-bottom: -7px; /*Fix for safari gap*/
        min-height: 100px;
        max-height: 150px;
      }
      
      .content {
        position: relative;
        height: 20vh;
        text-align: center;
        background-color: white;
      }
      
      /* Animation */
      
      .parallax > use {
        animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
      }
      .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }
      .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }
      .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }
      .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }
      @keyframes move-forever {
        0% {
          transform: translate3d(-90px, 0, 0);
        }
        100% {
          transform: translate3d(85px, 0, 0);
        }
      }
      /*Shrinking for mobile*/
      @media (max-width: 768px) {
        .waves {
          height: 40px;
          min-height: 40px;
        }
        .content {
          height: 30vh;
        }
        h1 {
          font-size: 24px;
        }
      }
    &__wave {
        //display: none;
        width: 100vw;
        position: absolute;
        left: 0;
        top: -10px;
        z-index: -1;
        @media only screen and (max-width: 1200px) {
            display: none;
          }
        @media only screen and (pointer: none) {
            display: none;
        }
    }
    &__title {
        padding-bottom: 50px;
        text-align: center;
        z-index: 2;
        &-left {
            display: inline-block;
            z-index: 2;
            transform: translateX(-500px);
            opacity: 0;
            @media only screen and (max-width: 700px) {
                transform: translateX(-100px);
            }
        }
        &-right {
            display: inline-block;
            transform: translateX(500px);
            opacity: 0;
            @media only screen and (max-width: 700px) {
                transform: translateX(100px);
            }
        }
    }
    &__container {
        display: flex;
        padding-top: 70px;
        padding-bottom: 70px;
        @media only screen and (max-width: 700px) {
            flex-direction: column-reverse;
        }
    }
    &__text {
        width: 50%;
        padding-right: 20px;
        @media only screen and (max-width: 700px) {
            width: 100%;
            padding-right: 0;
        }
        &-paragraph {
            width: 100%;
            margin-bottom: 20px;
            display: inline-block;
            opacity: 0;
            transform: scale(0);
            &-text {
              position: relative;
              text-indent: 60px;
              display: block;
              &:before {
                position: absolute;
                left: 0;
                top: 14px;
                width: 50px;
                height: 1px;
                background-color: white;
                content: '';
              }
            }
        }
    }
    &__skills {
        width: 50%;
        @media only screen and (max-width: 700px) {
            width: 100%;
        }
        &-container {
            display: flex;
            padding-left: 10%;
            position: relative;
            margin-bottom: 50px;
            flex-direction: column;
            transform: scale(0);
            opacity: 0;
            @media only screen and (max-width: 700px) {
                padding: 0;
            }
            &-title {
                display: inline-block;
                margin-right: 20px;
            }
            &-item {
                width: 90%;
                margin-top: 5px;
                height: 7px;
                border: 2px solid #1BEBC1;
                // border: 2px solid #111a25;
                border-radius: 10px;
                left: 0;
                @media only screen and (max-width: 1000px) {
                    left: 50%;
                    width: 50%;
                }
                @media only screen and (max-width: 700px) {
                    left: 40%;
                    width: 97%;
                    margin-top: 10px;
                }
                &-progress {
                    width: 0%;
                    height: 120%;
                    margin-top: -0.2%;
                    margin-left: -0.3%;
                    background-color: #1BEBC1;
                    border-radius: 10px;
                }
            }
        }
    }
    &__tech {
        &-items {
            width: 200px;
            &-item {
                padding: 30px;
            }
        }
    }
    .tickerwrapper {
        position: absolute;
        bottom: 100px;
        left:0;
        width: 99.9%;
        height: 30px;
        overflow: hidden;
        cursor: pointer;
      }
      
      ul.list {
        position: relative;
        display: inline-block;
        list-style: none;
        padding:0;
        margin:0;
      }
      
      ul.list.cloned {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      
      ul.list li {
        float: left;
        padding-left: 40px;
      }
}