.contact {
    padding: 100px 100px 0;
    position: relative;
    margin-bottom:0;
    padding-bottom:0;
    &:before {
      width: 100vw;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(45deg, #18273a, #04090e);
      content: '';
      position: absolute;
      z-index: -1;
      @media only screen and (max-width: 1000px) {
        //height: 100vh;
        background: linear-gradient(#18273a, #04090e);
      }
    }
    @media only screen and (max-width: 1000px) {
      padding: 50px 10px 0;
    }
    &__wave {
      width: 100vw;
      position: absolute;
      left: 0;
      bottom: 0;
      svg {
        vertical-align: bottom;
      }
    }
    &__title {
      text-align: center;
      opacity: 0;
      transform: scale(0);
      padding-bottom: 100px;
      @media only screen and (max-width: 700px) {
        padding-bottom: 50px;
      }
      span {
        display: inline-block;
      }
    }
    &__form {
      padding-bottom: 100px;
      position: relative;
      &-wrapper {
        width: 100%;
        text-align: center;
        &-container {
          display: flex;
          @media only screen and (max-width: 600px) {
            display: flex;
            flex-direction: column-reverse;
          }
          .contact__form {
            text-align: left;
            width: 50%;
            display: inline-block;
            border-left: 1px solid #8893AF;
            padding-left: 40px;
            @media only screen and (max-width: 600px) {
              width: 100%;
              border-left: none;
              padding-left: 0;
              overflow: hidden;
            }
            &-item {
              opacity: 0;
              margin-bottom: 14px;
              &:nth-child(1) {
                transform: translateX(200px);
              }
              &:nth-child(2) {
                transform: translateX(350px);
              }
              &:nth-child(3) {
                transform: translateX(500px);
              }
              &:nth-child(4) {
                transform: translateX(650px);
              }
              &:nth-child(5) {
                transform: translateX(800px);
              }
              &:nth-child(6) {
                transform: translateX(950px);
              }
              &:nth-child(7) {
                transform: translateX(1100px);
              }
              &:nth-child(8) {
                transform: translateX(1250px);
              }
              &:nth-child(8) {
                transform: translateX(1250px);
              }
              &-label {
                margin-left: 7px;
              }
              &-input {
                margin-bottom: 30px;
                position: relative;
                &:after {
                  position: absolute;
                  width: 0;
                  height: 2px;
                  bottom: 0;
                  left: 0;
                  background-color: #1BEBC1;
                  content: '';
                  transition: 0.5s;
                }
                &:focus-within {
                  &:after {
                    width: calc(100% + 30px);
                    width: 100%;
                  }
                }
              }
            }
            input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
            input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
            input[type="search"]::-webkit-search-decoration,
            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-results-button,
            input[type="search"]::-webkit-search-results-decoration {
              display: none;
            }
            input, textarea {
              background-color: transparent;
              border: none;
             // border-bottom: 1px solid #8893AF;
              font-size: 18px;
              outline: none;
              color: #bbbbbb;
              width: 100%;
              padding: 15px;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
              background-color:rgba(0, 0, 0, 0.15);
              // background: linear-gradient(-45deg, #0e1f302f, #0000001e);
              position: relative;
              &:-webkit-input-placeholder {
                color: #8893AF;
              }
              &:focus {
                outline: none;
                &:after {
                  position: absolute;
                  content: '';
                  height: 2px;
                  width: 100%;
                  left: 0;
                  bottom: 0;
                  background-color: #1BEBC1;
                }
                //border-bottom: 2px solid #1BEBC1;
              }
            }
            &-name {
              width: 40%;
              @media only screen and (max-width: 700px) {
                width: 100%;
              }
            }
            &-email {
              width: 40%;
              margin-left: 20px;
              @media only screen and (max-width: 700px) {
                width: 100%;
                margin-left: 0;
              }
            }
            &-subject {
              width: 100%;
              @media only screen and (max-width: 700px) {
                width: 100%;
              }
            }
            textarea {
              width: calc(100% - 30px);
            }
            &-body {
              height: 150px;
              resize: none;
            }
            &-submit {
              position: absolute;
              right: 0;
              bottom: 0;
              text-align: center; 
              height: 50px;
              width: 150px;
              @media only screen and (max-width: 700px) {
                width: 100%;
              }
              &-btn {
                height: 50px;
                width: 150px;
                border: none;
                outline: none;
                border: 2px solid #1BEBC1;
                background-color: transparent;
                border-radius: 7px;
                font-size: 20px;
                font-weight: 200;
                &:hover {
                  transition: 0.5s;
                  background-color: rgba(26, 235, 193, 0.301);
                  transform: scale(1.05);
                  box-shadow: 0px 13px 38px 7px rgba(27,235,193,0.14);
                }
                &:after {
                  content: 'Send';
                  color: #1BEBC1;
                }
                &.submited {
                  animation: 2s formSubmited;
                  @keyframes formSubmited {
                    0% {
                      border-radius: 7px;
                      border-bottom:  2px solid #1BEBC1;
                      border-left:  2px solid #1BEBC1;
                      width: 150px;
                      transform: rotate(0deg);
                    }
                    15% {
                      border-radius: 50%;
                      width: 50px;
                      border-bottom:  2px solid #1BEBC1;
                      border-left:  2px solid #1BEBC1;
                      transform: rotate(0);
                    }
                    25% {
                      border-bottom: none;
                      border-left: none;
                    }
                    75% {
                      border-radius: 50%;
                      width: 50px;
                      border-bottom: none;
                      border-left: none;
                      transform: rotate(360deg);
                    }
                    100% {
                      width: 150px;
                      border-radius: 7px;
                      border-bottom:  2px solid #1BEBC1;
                      border-left:  2px solid #1BEBC1;
                      transform: rotate(0deg);
                    }
                  }
                  &:after {
                    content: '';
                  }
                  &:hover {
                    background-color: transparent;
                  }
                }
              }
            }
            &-btn {
              &-submit {
                position: absolute;
                bottom: 0;
                right: 0;
                border: none;
                outline: none;
                border: 2px solid #1BEBC1;
                background-color: transparent;
                border-radius: 7px;
                padding: 10px 25px;
                font-size: 20px;
                font-weight: 200;
                color: white;
                display: inline-block;
                height: fit-content;
                width: fit-content;
                &:after {
                  content: 'Send';
                  color: white;
                }
                &:hover {
                  background-color: rgba(26, 235, 193, 0.301);
                }
                @media only screen and (max-width: 700px)  {
                  width: 90%;
                  margin-left: 5%;
                  float: unset;
                }
              }
            }
          }
          .contact__details {
            text-align: left;
            display: inline-block;
            padding-right: 40px;
            vertical-align: top;
            width: 50%;
            @media only screen and (max-width: 1000px) {
              width: 30vw;
            }
            @media only screen and (max-width: 600px) {
              padding-right: 0;
              margin-top: 50px;
              width: 100%;
              display: flex;
              flex-direction: column;
            }
            &-item {
              margin-bottom: 45px;
              display: flex;
              opacity: 0;
              @media only screen and (max-width: 700px) {
               margin-bottom: 25px;
              }
              &-1 {
                transform: translateX(-200px);
              }
              &-2 {
                transform: translateX(-350px);
              }
              &-3 {
                transform: translateX(-500px);
              }
            }
            img {
              height: 30px;
              filter: invert(84%) sepia(0%) saturate(234%) hue-rotate(179deg) brightness(95%) contrast(79%);
              display: inline-block;
              margin-right: 20px;
            }
            &-text {
              align-self: center;
            }
          }
        }
      }
    }
    &__profile {
      width: 100%;
      text-align: center;
      padding-top: 80px;
      @media only screen and (max-width: 700px) {
        padding-top: 30px;
      }
      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
    }
    &__social {
      padding: 50px;
      &-icons {
        width: 100%;
        text-align: center;
        &-item {
          display: inline-block;
          padding: 10px;
          a {
            &:hover {
                >img {
                    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(122deg) brightness(102%) contrast(106%);
                    transition: 0.7s;
                    transform: scale(1.2);
                }
            }
            img {
                height: 25px;
            }
          }
        }
      }
    }
    &__form-confirmed {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 51;
      width: 100vw;
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 0;
      &.open {
        height: 100vh;
        animation: 3s openConfirmed ease-in-out forwards;
        @keyframes openConfirmed {
          0% {
            transform: scale(0.7) translateY(-1000px);
            opacity: 0;
          }
          25% {
            transform: scale(1) translateY(0);
            opacity: 1;
          }
          75% {
            transform: scale(1) translateY(0);
            opacity: 1;
          }
          100% {
            transform: scale(0.7) translateY(1000px);
            opacity: 0;
          }
        }
      }
      &-container {
        width: 40vw;
        height: 15vh;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.87);
        border-radius: 30px;
        display: flex;
        align-items: center;
        align-content: center;
        @media only screen and (max-width: 700px) {
          width: 95vw;
        }
        &-text {
          color: white;
          margin-left: auto;
          margin-right: auto;
        }
        &-img {
          margin-left: 20px;
          height: 30px;
          filter: invert(85%) sepia(18%) saturate(1644%) hue-rotate(103deg) brightness(88%) contrast(110%);
        }
      }
    }
}
.dark {
    .contact__social-icons-item {
        img {
            filter: invert(89%) sepia(0%) saturate(43%) hue-rotate(148deg) brightness(90%) contrast(77%);
        }
    }
}