.hero {
  height: 100vh;
  position: relative;
  &:before {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: linear-gradient(-45deg,#000000, #202936);
    content: '';
    position: absolute;
    @media only screen and (max-width: 1000px) {
      background: linear-gradient(#18273a, #04090e);
    }
  }
  &__wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -10;
    margin: 0;
  }
  &__profile {
    padding: 200px 100px;
    position: relative;
    overflow: hidden;
    z-index: 30;
    @media only screen and (max-width: 1000px) {
      padding: 150px 60px;
    }
    @media only screen and (max-width: 700px) {
      padding: 80px 10px 10px;
    }
    @media (orientation: landscape) {
      @media (hover: none) {
        @media only screen and (max-width: 1000px) {
          padding: 40px 60px;
        }
      }
    }
    &-title {
      &-first {
        display: block;
        transform: translateX(-700px);
        // background: -webkit-linear-gradient(45deg,#cef5ff, #0b2b38 50%, #fff), #fff;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        &.open {
          animation: titleOpen 0.7s ease-in-out forwards;
          @keyframes titleOpen {
            0% {
              transform: translateX(-700px);
            }
            100% {
              transform: translateX(0px);
            }
          } 
        }
      }
      &-scnd {
        transform: translateX(-800px);
        &.open {
          animation: titleScndOpen 0.7s ease-in-out forwards;
          @keyframes titleScndOpen {
            0% {
              transform: translateX(-800px);
            }
            100% {
              transform: translateX(0px);
            }
          } 
        }
      }
    }
    &-text {
      padding-top: 30px;
      width: 40%;
      transform: translateX(-950px);
      @media only screen and (max-width: 1000px) {
        width: 80%;
      }
      @media only screen and (max-width: 700px) {
        width: 100%;
      }
      a {
        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 2px;
          &.text-highlight-red {
            color: #FA1200;
          }
        }
        &.text-highlight {
          &:hover {
            color: #1BEBC1;
          }
        }
        &.text-highlight-red {
          &:hover {
            color: #FA1200;
          }
        }
      }
      &.open {
        animation: textOpen 0.7s ease-in-out forwards;
        @keyframes textOpen {
          0% {
            transform: translateX(-950px);
          }
          100% {
            transform: translateX(0px);
          }
        } 
      }
      a {
        text-decoration: none;
      }
    }
    &-explore {
      padding-top: 30px;
      transform: translateX(-1200px);
      &.open {
        animation: exploreOpen 0.7s ease-in-out forwards;
        @keyframes exploreOpen {
          0% {
            transform: translateX(-1200px);
          }
          100% {
            transform: translateX(0px);
          }
        } 
      }
      @media only screen and (max-width: 600px) {
        display: none;
      }
      &-btn {
        border: none;
        outline: none;
        border: 2px solid #1BEBC1;
        background-color: transparent;
        border-radius: 7px;
        padding: 10px 25px;
        font-size: 20px;
        font-weight: 200;
        color: white;
        &:hover {
          transition: 0.5s;
          background-color: rgba(26, 235, 193, 0.301);
          transform: scale(1.05);
          box-shadow: 0px 13px 38px 7px rgba(27,235,193,0.14);
        }
      }
    }
    &-img {
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }
    }
  }
  &__indicator {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 15%;
    left: calc(50vw - 50px);
    opacity: 0;
    &-container {
      position: absolute; 
      width: 100px;
      height: 200px;
      bottom: 0;
      z-index: 500;
      left: calc(50vw - 50px);
    }
    &.open {
      animation: bounce 2s infinite;
      @keyframes bounce {
        0% {
          transform: scale(0) translateY(0);
          opacity: 0;
        }
        50% {
          transform: scale(1) translateY(100px);
          opacity: 1;
        }
        100% {
          transform: scale(1) translateY(130px);
          opacity: 0;
        }
      }
    }
    &-line {
      width: 1px;
      height: 40px;
      background-color: #696969;
      margin-left: auto;
      margin-right: auto;
    }
    &-arrow {
      width: 100%;
      text-align: center;
      margin-top: -10px;
      img {
        width: 20px;
        transform: rotate(90deg);
        filter: invert(41%) sepia(2%) saturate(0%) hue-rotate(13deg) brightness(100%) contrast(95%);
      }
    }
  }
}