.navigation {
  position: fixed;
  width: 100vw;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #111a2571;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border-bottom: 1px solid #1b1b1b;
  border-bottom: 1px solid #0b131b;
  z-index: 50;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.navigation.reveal {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navigation.open {
  height: 130vh;
  background-color: rgba(37, 37, 37, 0.95);
  background-color: #111a25f8;
}

.navigation__burger {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 40px;
  height: 30px;
}

@media only screen and (min-width: 1000px) {
  .navigation__burger {
    display: none;
  }
}

.navigation__burger-line {
  position: absolute;
  height: 3px;
  width: 38px;
  background-color: #bbbbbb;
  border-radius: 2px;
  top: 0;
  left: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
}

.navigation__burger-line:nth-child(1).open {
  -webkit-transform: rotate(45deg) translateY(17px) scale(0.7);
          transform: rotate(45deg) translateY(17px) scale(0.7);
  left: 20px;
}

.navigation__burger-line:nth-child(2) {
  top: 12px;
}

.navigation__burger-line:nth-child(2).open {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.navigation__burger-line:nth-child(3) {
  top: 24px;
}

.navigation__burger-line:nth-child(3).open {
  -webkit-transform: rotate(-45deg) translateY(-17px) scale(0.7);
          transform: rotate(-45deg) translateY(-17px) scale(0.7);
  left: 20px;
}

.navigation__container-logo {
  height: 35px;
  margin-top: 7.5px;
}

.navigation__container-logo .first-n {
  -webkit-filter: invert(17%) sepia(23%) saturate(1713%) hue-rotate(174deg) brightness(100%) contrast(92%);
          filter: invert(17%) sepia(23%) saturate(1713%) hue-rotate(174deg) brightness(100%) contrast(92%);
}

.navigation__container-logo .scnd-n {
  -webkit-filter: invert(79%) sepia(65%) saturate(2069%) hue-rotate(136deg) brightness(97%) contrast(90%);
          filter: invert(79%) sepia(65%) saturate(2069%) hue-rotate(136deg) brightness(97%) contrast(90%);
  -webkit-filter: invert(89%) sepia(64%) saturate(6891%) hue-rotate(83deg) brightness(109%) contrast(84%);
          filter: invert(89%) sepia(64%) saturate(6891%) hue-rotate(83deg) brightness(109%) contrast(84%);
  opacity: 0.7;
}

.navigation__container-title {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 100px;
  right: auto;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
}

@media only screen and (max-width: 1000px) {
  .navigation__container-title {
    left: 20px;
    width: 70%;
  }
}

.navigation__container-title a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.navigation__container-title a span:nth-child(2) {
  color: #1BEBC1;
}

.navigation__container-list {
  list-style: none;
  height: 50px;
  margin: 0 auto;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
}

@media only screen and (max-width: 1000px) {
  .navigation__container-list {
    -webkit-transform: scale(0) translateY(-200px);
            transform: scale(0) translateY(-200px);
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    width: 100%;
  }
}

.navigation__container-list.open {
  -webkit-transform: scale(1) translateY(50px);
          transform: scale(1) translateY(50px);
  opacity: 1;
}

.navigation__container-list-contact {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .navigation__container-list-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .navigation__container-list-contact {
    margin-top: 0;
  }
}

.navigation__container-list-contact .contact__social {
  padding: 40px 0 20px;
}

.navigation__container-list-contact .contact__profile {
  padding-top: 30px;
}

.navigation__container-list-contact .contact__profile img {
  width: 70px;
  height: 70px;
}

.navigation__container-list-contact .details {
  margin-top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__container-list-contact .details img {
  margin-right: 10px;
  height: 18px;
  -webkit-filter: invert(84%) sepia(0%) saturate(234%) hue-rotate(179deg) brightness(95%) contrast(79%);
          filter: invert(84%) sepia(0%) saturate(234%) hue-rotate(179deg) brightness(95%) contrast(79%);
}

.navigation__container-list-item {
  padding: 16px 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .navigation__container-list-item {
    padding: 5px 0;
    margin: 15px;
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .navigation__container-list-item {
    font-size: 20px;
  }
}

.navigation__container-list-item:before {
  content: "";
  position: absolute;
  height: 2px;
  border-radius: 1px;
  width: 0;
  background-color: #1BEBC1;
  bottom: 0;
  left: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navigation__container-list-item:hover {
  cursor: pointer;
}

.navigation__container-list-item:hover:before {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
  left: 0;
}

.navigation__container-toggle {
  position: absolute;
  top: 12px;
  right: 100px;
}

@media only screen and (max-width: 1000px) {
  .navigation__container-toggle {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .navigation__container-toggle {
    margin-top: 12px;
  }
}

.navigation__container-toggle.toggle-mobile {
  position: unset;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

@media only screen and (min-width: 1000px) {
  .navigation__container-toggle.toggle-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .navigation__container-toggle.toggle-desktop {
    display: none;
  }
}
/*# sourceMappingURL=nav.css.map */