.work {
  padding: 130px 100px 50px;
  position: relative;
  z-index: 1;
  /* Animation */
  /*Shrinking for mobile*/
}

.work .header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  text-align: center;
}

.work .header svg {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.work .logo {
  width: 0px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.work .inner-header {
  height: 45vh;
  width: 100%;
  margin: 100;
  padding: 100;
}

.work .flex {
  /*Flexbox for containers*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.work .waves {
  position: relative;
  width: 100%;
  height: 25vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.work .content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

.work .parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.work .parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.work .parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.work .parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.work .parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .work .waves {
    height: 40px;
    min-height: 40px;
  }
  .work .content {
    height: 30vh;
  }
  .work h1 {
    font-size: 24px;
  }
}

.work:before {
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, #202936, #000000);
  content: '';
  position: absolute;
  z-index: -2;
}

@media only screen and (max-width: 1000px) {
  .work:before {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(#04090e), to(#18273a));
    background: linear-gradient(#04090e, #18273a);
  }
}

@media only screen and (max-width: 1000px) {
  .work:after {
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#18273a), to(#04090e));
    background: linear-gradient(#18273a, #04090e);
    content: '';
    position: absolute;
    z-index: -3;
  }
}

@media only screen and (max-width: 1000px) {
  .work {
    padding: 130px 10px 0px;
  }
}

.work__inputHidden {
  color: white;
}

@media (hover: none) {
  .work__inputHidden {
    color: black;
  }
}

.work__wave {
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100vw;
  z-index: -1;
}

@media only screen and (max-width: 1200px) {
  .work__wave {
    display: none;
  }
}

@media only screen and (pointer: none) {
  .work__wave {
    display: none;
  }
}

.work__wave-2 {
  opacity: 0.3;
  z-index: -2;
}

.work__title {
  text-align: center;
}

.work__title:before {
  content: '';
  display: none;
}

@media (hover: none) {
  .work__title:before {
    content: 'touch';
  }
}

.work__title span {
  opacity: 0;
  display: inline-block;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.work__title span:nth-child(1) {
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
}

.work__title span:nth-child(2) {
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
}

.work__title.reveal span {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.work__items {
  position: absolute;
  width: 100vw;
  left: 0;
  height: 100px;
  margin-top: 100px;
}

@media only screen and (max-width: 600px) {
  .work__items {
    margin-top: 40px;
  }
}

.work .projects {
  position: relative;
}

.work .projects__item {
  -webkit-animation: unset;
          animation: unset;
  top: 0;
  left: 5vw;
  width: 26vw;
  height: 13vw;
}

@media only screen and (max-width: 1050px) {
  .work .projects__item {
    width: 42vw;
    height: 21vw;
  }
}

@media only screen and (max-width: 600px) {
  .work .projects__item {
    width: calc(100vw - 20px);
    height: calc(((100vw - 20px) / 2));
    left: 10px;
  }
}

.work .projects__item.ordered {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.work .projects__item.ordered:hover {
  z-index: 20;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: none;
}

@media (hover: none) {
  .work .projects__item.ordered:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.work .projects__item-description {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: 0.7s -webkit-filter linear;
}

@media (hover: none) {
  .work .projects__item-description {
    opacity: 1;
    top: 105%;
    padding: 0;
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
  }
}

.work .projects__item-2 {
  left: 37vw;
}

@media only screen and (max-width: 1050px) {
  .work .projects__item-2 {
    left: 52vw;
  }
}

@media only screen and (max-width: 600px) {
  .work .projects__item-2 {
    top: calc((100vw - 20px) / 2 + 180px);
    left: 10px;
  }
}

.work .projects__item-3 {
  left: 68vw;
}

@media only screen and (max-width: 1050px) {
  .work .projects__item-3 {
    left: 5vw;
    top: calc(21vw + 180px);
  }
}

@media only screen and (max-width: 600px) {
  .work .projects__item-3 {
    top: calc(((100vw - 20px) / 2) * 2 + 180px * 2);
    left: 10px;
  }
}

.work .projects__item-4 {
  top: calc(13vw + 70px);
}

@media (hover: none) {
  .work .projects__item-4 {
    top: calc(18vw + 100px);
  }
}

@media only screen and (max-width: 1050px) {
  .work .projects__item-4 {
    left: 52vw;
    top: calc(21vw + 180px);
  }
}

@media only screen and (max-width: 600px) {
  .work .projects__item-4 {
    top: calc(((100vw - 20px) / 2) * 3 + 180px * 3);
    left: 10px;
  }
}

.work .projects__item-5 {
  top: calc(13vw + 70px);
  left: 37vw;
}

@media (hover: none) {
  .work .projects__item-5 {
    top: calc(18vw + 100px);
  }
}

@media only screen and (max-width: 1050px) {
  .work .projects__item-5 {
    left: 5vw;
    top: calc(42vw + 360px);
  }
}

@media only screen and (max-width: 600px) {
  .work .projects__item-5 {
    top: calc(((100vw - 20px) / 2) * 4 + 180px * 4);
    left: 10px;
  }
}

.work .projects__item-6 {
  top: calc(13vw + 70px);
  left: 68vw;
}

@media (hover: none) {
  .work .projects__item-6 {
    top: calc(18vw + 100px);
  }
}

@media only screen and (max-width: 1050px) {
  .work .projects__item-6 {
    left: 52vw;
    top: calc(42vw + 360px);
  }
}

@media only screen and (max-width: 600px) {
  .work .projects__item-6 {
    top: calc(((100vw - 20px) / 2) * 5 + 180px * 5);
    left: 10px;
  }
}

.work .projects__item-img {
  position: unset;
}
/*# sourceMappingURL=work.css.map */