.about {
    padding: 50px 100px 200px;
    position: relative;
    @media only screen and (max-width: 700px) {
        padding: 50px 10px 200px;
    }
    &__title {
        padding-bottom: 50px;
        &-left {
            display: inline-block;
            transform: translateX(-500px);
            opacity: 0;
            @media only screen and (max-width: 700px) {
                transform: translateX(-100px);
            }
        }
        &-right {
            display: inline-block;
            transform: translateX(500px);
            opacity: 0;
            @media only screen and (max-width: 700px) {
                transform: translateX(100px);
            }
        }
    }
    &__container {
        @media only screen and (max-width: 700px) {
            flex-direction: column-reverse;
        }
    }
    &__text {
        width: 50%;
        @media only screen and (max-width: 700px) {
            width: 100%;
        }
        &-paragraph {
            margin-bottom: 20px;
            display: inline-block;
            opacity: 0;
            transform: scale(0);
            &-text {
                display: block;
            }
            // &:nth-child(1) {
            //     transform: translateX(-1500px);
            // }
            // &:nth-child(2) {
            //     transform: translateX(-1000px);
            // }
            // &:nth-child(3) {
            //     transform: translateX(-500px);
            // }
        }
    }
    &__skills {
        width: 50%;
        @media only screen and (max-width: 700px) {
            width: 100%;
        }
        &-container {
            padding-left: 10%;
            align-items: center;
            position: relative;
            margin-bottom: 50px;
            @media only screen and (max-width: 700px) {
                padding: 0;
            }
            &-title {
                display: inline-block;
                margin-right: 20px;
            }
            &-item {
                position: absolute;
                width: 60%;
                height: 13px;
                border: 2px solid #1BEBC1;
                border-radius: 10px;
                left: 40%;
                @media only screen and (max-width: 700px) {
                    width: 60%;
                }
                &-progress {
                    width: 0%;
                    height: 106%;
                    margin-top: -0.1%;
                    margin-left: -0.3%;
                    background-color: #1BEBC1;
                    border-radius: 10px;
                }
            }
        }
    }
    &__tech {
        &-items {
            width: 200px;
            &-item {
                padding: 30px;
            }
        }
    }
    .tickerwrapper {
        position: absolute;
        bottom: 100px;
        left:0;
        width: 99.9%;
        height: 30px;
        overflow: hidden;
        cursor: pointer;
      }
      
      ul.list {
        position: relative;
        display: inline-block;
        list-style: none;
        padding:0;
        margin:0;
      }
      
      ul.list.cloned {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      
      ul.list li {
        float: left;
        padding-left: 40px;
      }
}