.loading-screen {
    position: fixed;
    width: 120vw;
    left: -10vw;
    height: 100vh;
    z-index: 200;
    background-color: #111a25;
    &.close {
        display: none;
    }
    &.close {
        transition: 1s;
        z-index: -1;
        opacity: 0;
        .loading-screen__container {
            transition: 1s;
            transform: scale(5);
            @media only screen and (max-width: 800px) {
                transform: scale(3);
            }
            .ring {
                animation: unset;
            }
        }
        .loading-screen__text {
            transition: 1s;
            transform: scale(0);
            opacity: 0;
            animation: unset;
        }
    }
    .text {
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 100%;
        display: inline-block;
        color: white;
    }
    &__container {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 400px;
        height: 400px;
        .ring {
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 50%;
          &:nth-of-type(1) {
            width: 240px;
            height: 250px;
            animation: rt 10s infinite linear;
            box-shadow: 0 0 1px 0 #1BEBC1,
                        inset 0 0 20px 0 #1BEBC1;
          }
          &:nth-of-type(2) {
            width: 230px;
            height: 240px;
            animation: rt 12s infinite linear;
            box-shadow: 0 0 1px 0 #22c2ce,
                        inset 0 0 25px 0 #22c2ce;
          }
          &:nth-of-type(3) {
            width: 265px;
            height: 270px;
            animation: rt 9s infinite linear;
            box-shadow: 0 0 1px 0 #0db1bd,
                        inset 0 0 15px 0 #17c5a2;
          }
          &:nth-of-type(4) {
            width: 275px;
            height: 280px;
            animation: rt 14s infinite linear;
            box-shadow: 0 0 10px 0 #22c2ce,
                        inset 0 5px 18px 0 #22c2ce;
          }
          &:nth-of-type(5) {
            width: 290px;
            height: 275px;
            animation: rt 12s infinite linear;
            box-shadow: 0 0 10px 0 #22c2ce,
                        inset 0 5px 18px 0 #22c2ce;
          }
          &:nth-of-type(6) {
            width: 310px;
            height: 290px;
            animation: rt 13s infinite linear;
            box-shadow: 0 0 10px 0 #22c2ce,
                        inset 0 5px 18px 0 #22c2ce;
          }
        }
    }
    &__text {
        color: white;
        display: flex;
        height: 100%;
        &-container {
            align-self: center;
            width: 100%;
            text-align: center;
            opacity: 0.5;
            animation: textAnimation 1.5s ease-in-out infinite;
            @keyframes textAnimation {
                0% {
                transform: scale(1);
                opacity: 0.5;
                }
                50% {
                transform: scale(1.2);
                opacity: 1;
                }
                100% {
                transform: scale(1);
                opacity: 0.5;
                }
            }
            span {
                display: inline-block;
                font-size: 70px;
                &:nth-child(2) {
                    color: #1BEBC1;
                }
            }
        }
    }
}

  @keyframes rt {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(360deg) scale(1.2);
    }
    100% {
        transform: rotate(0deg) scale(1);
      }
  }