* {
    margin: 0;
    padding: 0;
}




.hero-story {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.module-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.module-background h1 {
    color: white;
    text-align: center;
    padding-top: 10%;
}


.first-hero .module-background {
    background-color: green;
}

.second-hero .module-background {
    background-color: yellow;
}

.third-hero .module-background {
    background-color: orange;
}

.wht{background:white}

.section-last {
    width: 100vw;
    height: 200vh;
    background-color: blue;
}