.box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
    transform-style: preserve-3d;
    &-inner {
        position: absolute;
        background-color: green;
        left: 40%;
        width: 200px;
        height: 200px;
        top: 40%;
        transform: translateZ(60px);
        animation: float1 10s ease-in-out infinite;
          @keyframes float1 {
            0% {
              transform: translateY(0px) translateZ(20px);
            }
            50% {
              transform: translateY(28px) translateZ(20px);
            }
            100% {
              transform: translateY(0px) translateZ(20px);
            }
          }
    }
}